src/__pycache__/statics.cpython-313.pyc
files/resultado_iso17123_8.txt
files/metta_logo_hd.png
files/Shabby stamp(bonus).png
src/__pycache__/load_file.cpython-313.pyc
src/__pycache__/plots.cpython-313.pyc
src/__pycache__/statistics.cpython-313.pyc
PA01_.csv
PA02_.csv
PA01_69F6.csv
PA02_69F6.csv
